// Define variables for your color scheme

$greengray: #81968F;
$rose: #A07178;
$darkgreen: #1A281F;
$darkgray: #5c5c5c;
$midgray: #7c7c7c;
$lightgray: #bdbdbd;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
