.spaces-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 20px;
}

@media(max-width: 768px) {
  .spaces-grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
    margin-bottom: 12px;
  }

  .spaces-card-title {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .spaces-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 15px;
  }
}

.spaces-card {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  background-color: #fcfcfc;
  margin-top: 20px;
}

.spaces-card-content {
  padding: 12px;
}

.spaces-card-title {
  font-size: 24px;
  line-height: 1;
  color: $greengray;
   &:hover {
    text-decoration: none;
    color: #6c7c77;
  }
}

.spaces-photo {
  width: 100%;
  margin-bottom: 10px;
}

.spaces-category {
  font-size: 15 px;
  color: $midgray;
  margin-top: 5px;
  margin-bottom: 1px;
}

.space-address {
  font-size: 14px;
  color: $darkgray;
  margin-top: 10px;
  margin-bottom: 1px;
}

.spaces-price {
  color: $darkgray;
  font-size: 18px;
  margin-top: 5px;
}

.spaces-details {
  color: $rose;
  font-size: 14px;
}
