<div class="banner_index" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://cdnm.westwing.com/image/upload/v1/contenthub/app/uploads/de/2019/09/12124819/Leseecke-Banner.jpg);">
  <div class="container">
    <h1 class="banner-h1">Find your special reading space</h1>
  </div>
</div>
<br>
<div class="headline">
  <h2>Check out the cosiest reading spaces in your area.</h2><br>
</div>
<div class="index">
  <div class="container">
    <% @spaces.each do |spaces| %>
      <div class="card-product">
        <% if space.photos.attached? %>
        <%= cl_image_tag space.photos[0].key,  crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= link_to space.title %></h2>
          <p><%= space.category %></p>
          <h2 class="card-pricing"><%= space.price_per_hour %> €</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>