<div class="container mt-5">
  <div>
    <h1 class="heading-form">Create a new reading space</h1>
    <p class="space-description">You can rent out your reading space! <br>Give potential guests a good overview of your space and what you're offering.</p>
  </div>

  <%= render "form" %>
</div>
