<div class="container">
  <div>
  <% if @booking.user == current_user %>
    <%= render "booking_guest"  %>
  <% else %>
    <%= render "booking_host"  %>
  <% end  %>


  <%# Booking details for spaces owned by other users %>
  <%#
    if booking.user is current_user
      show Booking show-page
    if booking is current_user.spaces.bookings
      show Rentals show-page

    %>



  </div>



</div>
