<div class="container">
  <div class="back-box">
    <%= link_to '<<< back', 'javascript:history.back()', class:"green-back-link" %>
  </div>
  <div>
  <% if @booking.user == current_user %>
    <%= render "booking_guest"  %>
  <% else %>
    <%= render "booking_host"  %>
  <% end  %>
  </div>
</div>
