<div class="banner-dashboard">
  <div class="container">
    <h1 class="banner-dashboard-headline">Book A Nook Dashboard</h1>
  </div>
</div>

<div class="container">

<%# Booking requests for spaces owned by other users %>
  <%= render "index_bookings_guest" %>

 <%# Booking requests for owned spaces %>

  <% if @my_rentals.length > 0 %>

    <% if @my_rentals.length == 1 %>
      <h1 class="heading-booking-requests">Booking Requests for my space</h1>
    <% else %>
      <h1 class="heading-booking-requests">Booking Requests for my spaces</h1>
    <% end %>

    <%= render "index_bookings_host" %>

  <% end %>


</div>
