<div class="banner-dashboard">
  <div class="container">
    <h1 class="banner-dashboard-headline">My Bookings Dashboard</h1>
  </div>
</div>

<div class="container">

<%# Booking requests for spaces owned by other users %>
  <%= render "index_bookings_guest" %>

 <%# Booking requests for owned spaces %>

 <% unless @bookings_of_rentals.empty? %>

  <%# <% if @my_rentals.length > 0 %>

    <%= render "index_bookings_host" %>

  <% end %>


</div>
