<div class="container">
  <h1 class="heading-booking">My Bookings</h1>
  <% if @my_bookings.empty? %>
    <p> You have no bookings to display. </p>
    <%= link_to "Find your perfect reading space", '/spaces', class:"btn-bookings-find" %>
  <% else %>
    <div class="trio-grid">
    <% @my_bookings.each do | booking |%>
      <div class="booking-card">
        <h3><%= booking.space.title %></h3>
        <% booking.space.photos.each do |photo|%>
          <%= cl_image_tag photo.key, class:"space-photo" %>
        <% end %>
        <% if booking.status == "pending" %>
          <p>Your request is still pending</p>
        <% else %>
          <p>Your booking is confirmed 🎉</p>
        <%  end %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
