.alert {
  position: fixed;
  bottom: 50%;
  right: 40%;
  z-index: 1000;
  padding: 50px;
}

.alert-warning {
  color: $rose;
  font-size: 18px;
  background-color: white;
  border-color: white;
}

.alert-info {
  color: $greengray;
  font-size: 18px;
  background-color: white;
  border-color: white;
}
