.heading-form {
  color: $rose;
  font-size: 2.5rem;
}

.h3-form {
  color: $greengray;
  font-size: 1.5rem;
}

.label {
  color: $darkgray;
}

.login {
  color: $greengray;
  font-size: 15px;
  transition: color 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #6c7c77;
  }
}

.cancel-link {
  color: $greengray;
  font-size: 15px;
  transition: color 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #6c7c77;
  }
}

.back-link {
  color: $rose;
  font-size: 15px;
  transition: color 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #7c565c;
  }
}
