.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.link-rose {
  color: $rose;
  &:hover {
    color: $greengray;
    text-decoration: none;
  }
}

.link-green {
  color: $greengray;
  &:hover {
    color: $rose;
    text-decoration: none;
  }
}
