.search-form {
  margin-top: 50px;
}

.btn-search {
  background-color: white;
  color: $greengray;
  font-size: 20px;
  border: 1px solid $greengray;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #7c565c;
    background-color: white;
    border: 1px solid #7c565c;
  }
}

.search-field {
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
}

.search-label {
  font-size: 40px;
  color: $greengray;
}

.search-no-results {

}
